SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root

# 2020-01-27 Dmitrii Fediuk https://upwork.com/fl/mage2pro
@daily tradefurniturecompany.co.uk sudo certbot renew && sudo service nginx restart

# 2020-02-12 Dmitrii Fediuk https://upwork.com/fl/mage2pro
* * * * * tradefurniturecompany.co.uk php /var/www/vhosts/tradefurniturecompany.co.uk/htdocs/bin/magento cron:run 2>&1 | grep -v "Ran jobs by schedule" >> /var/www/vhosts/tradefurniturecompany.co.uk/htdocs/var/log/magento.cron.log
* * * * * tradefurniturecompany.co.uk php /var/www/vhosts/tradefurniturecompany.co.uk/htdocs/update/cron.php >> /var/www/vhosts/tradefurniturecompany.co.uk/htdocs/var/log/update.cron.log
* * * * * tradefurniturecompany.co.uk php /var/www/vhosts/tradefurniturecompany.co.uk/htdocs/bin/magento setup:cron:run >> /var/www/vhosts/tradefurniturecompany.co.uk/htdocs/var/log/setup.cron.log

# 2018-10-12 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# A crontab should contain a newline at the end: https://serverfault.com/a/230407

