[mysqld]
datadir=/var/lib/mysql
innodb_buffer_pool_size = 15921M
innodb_file_per_table
innodb_thread_concurrency = 20
key_buffer_size = 512M
max_allowed_packet = 128M
max_connections = 400
max_heap_table_size = 256M
myisam_sort_buffer_size = 64M
query_cache_limit = 8M
query_cache_size = 128M
query_cache_type = 1
read_buffer_size = 4M
read_rnd_buffer_size = 2M
skip-name-resolve
socket=/var/lib/mysql/mysql.sock
sort_buffer_size = 4M
table_open_cache = 2000
thread_cache_size = 64
tmp_table_size = 256M
user=mysql
# 2020-08-30 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# 1) «PDO::beginTransaction(): MySQL server has gone away
# in vendor/magento/zendframework1/library/Zend/Db/Adapter/Pdo/Abstract.php on line 305» on `cron:run`:
# https://github.com/tradefurniturecompany/site/issues/50
# 2) https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_wait_timeout
# 3) https://magento.stackexchange.com/a/281056
# 4) I have restored the default value instead of `300`.
wait_timeout = 28800

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[client]
socket=/var/lib/mysql/mysql.sock